.cart{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 23px;
    position: sticky;
    top: 0;
}
/* .cart h5{
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */